<app-navbar></app-navbar>

<div class="container">
        <form (ngSubmit)="save()">
                <div class="form-row">
        
                    <div class="col-6">
                        <div class="md-form">
                            <input mdbInput type="text" class="form-control" placeholder="Verb" name="verb"
                                [(ngModel)]="verb.verb">
                        </div>
                    </div>
        
                    <div class="col-6">
                        <div class="md-form">
                            <input mdbInput type="text" class="form-control" placeholder="Translation" name="translation"
                                [(ngModel)]="verb.translation">
                        </div>
                    </div>
        
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" mdbBtn color="primary">Save</button>
                    </div>
                </div>
            </form>

</div>