<app-navbar></app-navbar>

<div class="container">
    <div class="card" style="width: 28rem;">
        <img [src]="noun.image" *ngIf="isTranslated" class="card-img-top" alt="...">
        <img [src]="noun.image" *ngIf="!isTranslated && noun.article=='der'" class="card-img-top" alt="..."
            style="background-color: rgba(137, 137, 230, 0.534);">
        <img [src]="noun.image" *ngIf="!isTranslated && noun.article=='das'" class="card-img-top" alt="..."
            style="background-color: yellow;">
        <img [src]="noun.image" *ngIf="!isTranslated && noun.article=='die'" class="card-img-top" alt="..."
            style="background-color: pink;">
        <div class="card-body">


            <h3 class="card-title" *ngIf="isTranslated">{{noun.translation}}</h3>
            <h3 class="card-title" *ngIf="!isTranslated">{{noun.article}} {{noun.word}}</h3>
            <button class="btn btn-primary" (click)="getTranslation()">Show translation</button><br>
            <button class="btn btn-primary" (click)="getRandomWord()">Next word</button>
        </div>
    </div>
</div>